<button id="btn-walking" class="btn btn-primary float-right">Dog Walking</button>
<button id="btn-watching" class="btn btn-primary float-right">Pet Sitting</button>
<button id="btn-food" class="btn btn-primary float-right">Pet Food</button>
<button id="btn-grooming" class="btn btn-primary float-right">Pet Grooming</button>
<button id="submit" class="btn btn-primary float-right">Submit</button>